*{
    font-family: 'Anton', sans-serif !important;
}
/* NAVIGATION */
nav{
    width: 100%;
    background-color: #262626;
}

nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    display: block;
    padding: 10px 14px;
    text-decoration: none !important;
    color: aliceblue;
}

/* TITLE*/

h1{
    color: #262626;
    text-align: center;
}

/* REGISTRATION */

.signup-form {
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}

.signup-form input {
    width: 90%;
    height: 40px;
    padding: 0px 5%;
    margin-bottom: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 40px;
}

#remember{
    width: 10%;
    height: 20px;
}

.signup-form button {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 40px;
    background-color: black;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

img{
    transition: transform .2s;
}

img:hover {
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
}

/*HOME*/
.number {
    text-align: center;
}
.number input{
    display: block;
    margin: 0 auto;
    width: 12%;
    height: 40px;
    background-color: black;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

/*Gallery */

#tabletext{
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}