*{
    font-family: 'Anton', sans-serif !important;
}
/* NAVIGATION */
nav{
    background-color: black;
    color: red;
}

nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    display: block;
    padding: 10px 14px;
    text-decoration: none;
    color: bisque;
}

/* REGISTRATION */

.signup-form {
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}

.signup-form input {
    width: 90%;
    height: 40px;
    padding: 0px 5%;
    margin-bottom: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 40px;
}

.signup-form button {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 40px;
    background-color: black;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

img{
    transition: transform .2s;
}

img:hover {
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
}